/*Базовый CSS*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/*CSS основых колонок*/

.main_0 {
    display: flex;
    height: 100%;
}

.main_1 {
    width: 33.33%;
}

.Side_columns{
    background-color: rgb(255, 81, 81);
}

.centre_columns{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*CSS таблички с информацией*/

.table_info {
    width: 70%;
    height: 40%;
    border: 5px solid rgb(0, 0, 175);
    border-radius: 50px;
    box-shadow: 0 0 50px rgb(183, 183, 255), inset 0 0 50px rgb(183, 183, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.table_info_block{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.personal_info{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nick_input{
    border: 1px solid rgb(65, 65, 255);
    border-radius: 5px;
    text-align: center;
}

.ava {
    display: none;
}

.ava_label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    border-radius: 50%;
    overflow: hidden;
}

.ava_label:hover{
    cursor: pointer;
}

.avatar {   
    object-fit: cover;           
}

.score, .gamemode {
    font-size: large;
    font-weight: bold;
}

/*CSS кнопок*/

.button_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15%;  
    width: 20%;  
}

.main_but {
    width: 95%;
    height: 20%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 253, 0.836);
    border-radius: 50px;
    border: none;
    font-size: large;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 0 50px rgb(183, 183, 255);
}

.main_but:hover {
    cursor: pointer;
    width: 100%;
    height: 22%;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 253, 0.836), 0 0 50px rgb(183, 183, 255);
}

.main_but:active {
  transform: scale(0.97); /* лёгкое утапливание */
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 150, 0.9), 0 0 50px rgb(183, 183, 255); /* немного темнее */
  filter: brightness(0.95); /* легкое притемнение */
}

/*Модальное окно*/

.main_0 {
    position: relative;
}

.modal_window {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 50%;
    height: 70%;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
}

.header_MW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 170, 57);
    width: 100%;
    height: 13%;
    font-size: large;
    font-weight: bold;
    position: relative;
}

.legend_MW {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    border-bottom: 2px solid black;
}

.tabs_wrapper_MW {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab_MW {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: 2px solid black;
    border-radius: 20px;
    width: 30%;
    height: 60%;
}

.tab_MW:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 253, 0.836), 0 0 50px rgb(183, 183, 255);
}

.tab_MW:active{
    transform: scale(0.97); /* лёгкое утапливание */
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 150, 0.9), 0 0 50px rgb(183, 183, 255); /* немного темнее */
    filter: brightness(0.95); /* легкое притемнение */
}

.close_MW {
    font-size: x-large;
    font-weight: bold;
    color: red;
    position: absolute;
    top: 5px;
    right: 10px;
}

.close_MW:hover {
    cursor: pointer;
    background-color: rgba(146, 146, 146, 0.377);
}

.close_MW:active {
    transform: scale(0.97); /* лёгкое утапливание */
    filter: brightness(0.95); /* легкое притемнение */
}

/*Главное задержимое настроек*/

.contetnt_MW{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.appearance_content {
    font-size: xx-large;
    font-weight: bolder;
}

.quest_content, .gamemode_content {
    display: none;
}

.active_tab_MW {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 150, 0.9), 0 0 50px rgb(183, 183, 255); /* немного темнее */
    background-color: rgb(86, 86, 214);
}

/*Темы вопросов*/
.checkbox_quest li, .checkbox_gm li{
    list-style: none;
    margin: 10px 0 10px 5px;
    font-size: large;
    font-weight: bold;
}

.quest_form:hover, .gm_form:hover{
    cursor: pointer;
}

.quest_content, .gamemode_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/*Подавл/кнопка сохранить*/

.footer{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save_MW {
    background-color: blue;
    border: solid 2px black;
    border-radius: 25px;
    width: 20%;
    height: 85%;
    font-size: large;
    font-weight: bold;
}

.save_MW:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 150, 0.9), 0 0 50px rgb(183, 183, 255);
}

.save_MW:active {
    cursor: pointer;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 150, 0.9), 0 0 50px rgb(183, 183, 255);
    transform: scale(0.97);
    filter: brightness(0.95);
}

/*Стили для игры*/

.game_block {
    display: none;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.table_quest {
    width: 80%;
    height: 35%;
    background-color: blue;
    border-radius: 25px;
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 226, 63);
    font-size: larger;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.bar_quest {
    width: 99%;
    height: 5%;
    background-color: blue;
    border-radius: 25px;
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    overflow: hidden;
}

.num_quest {
    width: 7.14%;
    height: 100%;
    border: solid 1px black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.quest_num_5, .quest_num_7, .quest_num_10, .quest_num_12, .quest_num_15 {
    background-color: gold;
    color: black;
}

.active_num_quest {
    background-color: white;
    color: blue;
}

.answers {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 2px blue;
    border-radius: 25px;
}

.answer {
    width: 90%;
    height: 15%;
    background-color: blue;
    border-radius: 25px;
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    color: gold;
    align-items: center;
    font-size: large;
    font-weight: bold;
    padding-left: 5%;
}

.answer:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 150, 0.9), 0 0 50px rgb(183, 183, 255);
}

.answer_wait {
    background-color: rgb(255, 255, 0);
    animation-name: blinkAnimation;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-iteration-count: 6;
    color: black;
}

@keyframes blinkAnimation {
    0%, 100% {
        transform: scale(1);
        color: white;
    }
    50% {
        transform: scale(1.02);
        color: black;
    };
}

.answer_true {
    animation-name: blinkBool;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    background-color: rgb(0, 211, 0);
    color: black;
}

.answer_false {
    animation-name: blinkBool;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    background-color: red;
    color: black;
}

@keyframes blinkBool {
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.05);
    }
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 20px;
    color: gold;
    border: solid 1px black;
    background-color: blue;
    border-radius: 20px;
    width: 70px;
}

.back:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(0, 0, 253, 0.836), 0 0 50px rgb(183, 183, 255);
}

.result_MW {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 50%;
    height: 50%;
    border: 3px solid gold;
    color: black;
    border-radius: 20px;
    background-color: blue;
    box-shadow: 0 0 5000px gold;
    font-size: larger;
    font-weight: bold;
}

.button_ok_result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
    background-color: rgba(59, 255, 59, 0.89);
    border: solid 5px rgb(35, 160, 35);
    border-radius: 20px;
}

.button_ok_result:hover {
    cursor: pointer;
    width: 82%;
    height: 12%;
}

.button_ok_result:active {
    transform: scale(0.97); /* лёгкое утапливание */
    filter: brightness(0.95); /* легкое притемнение */
}

/* Мобильные устройства (до 576px) */
@media (max-width: 576px) {
    body, body *{
        font-size: 14px !important; 
        font-weight:600 !important;
    }

    .Side_columns{
        width: 0%;
    }

    .centre_columns {
        width: 100%;
    }

    .modal_window{
        width: 90%;
    }

    .button_block {
        width: 30%;
    }

    .table_info {
        width: 85%;
    }
  }
  
  /* Планшеты (от 577px до 768px) */
  @media (min-width: 577px) and (max-width: 768px) {
    body, body *{
        font-size: 16px !important; 
        font-weight: 700 !important;
    }

    .Side_columns{
        width: 6%;
    }

    .centre_columns {
        width: 88%;
    }
  }
  
  /* Небольшие экраны (от 769px до 992px) */
  @media (min-width: 769px) and (max-width: 992px) {
    .Side_columns{
        width: 10%;
    }

    .centre_columns {
        width: 80%;
    }
  }